body

header

h1{
    background-color: aqua;
    color: midnightblue;

ul{
    background-color: #dddddd;
    float:left;
    height:300px
    width: 50px;
}

li{
    color: midnightblue;
}

ol{

}

catalogImages{
    height: 300px;
    width: 300px;
}

section{
    background-color:gray;
}

p{
    color: midnightblue
}   

footer{
    height: 100px;

}
