h1{
    font-size: 35px;
    background-color:#C6DEFF;
    color: #111D43;
}

ul{
    background-color: #dddddd;
    float:left;
    height:300px;
    width: 50px;
}

li{
    color: #111D43;
}

ol{
    /* display:inline-block */
}

.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    justify-content: center;
    align-items: center;        /* for single line flex container */
  }

section div img{
    height: 300px;
    width: 300px;
}

p{
    border-color: #111D43;
    border: 3px;
}   

footer{
    height: 100px;
    background-color:#C6DEFF;
}
